<!DOCTYPE HTML>
<html>
	<head>
		<title>금융노조 출석체크</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">
                <section>
                    <div class="content" style="text-align: center;">
                    <div id="check0">
                        <h2 style="color:blue">참석 입력 12: 30 ~ 14: 30 <br>마감 입력 15: 20 ~ 16: 20</h2>
                        <h2 style="color:blue">*입력 시간외에 진행시* <br>*출석이 인정되지 않습니다.*</h2>
                        <strong>출석체크를 위하여 <b style="color:red"><br>스마트폰의 GPS(위치정보) 기능을 <br> 활성화 & 반드시 위치 정보제공 동의</b> 해야합니다.</strong>
                        <div>
                            <br><strong>안드로이드폰</strong><br><br>
                            화면 맨 상단을 쓸어내린 후 상태 표시줄에서 위치를 눌러주시면 GPS(위치정보)를 활성화 시켜주면 됩니다.<br>
                            <a href="https://blog.naver.com/1004igofa/223085350875">https://blog.naver.com/1004igofa/223085350875</a>
                            <br>
                            <br><strong>아이폰</strong><br><br>
                            설정 > 개인정보 보호 및 보안 > 위치 서비스로 이동
                            위치 서비스 "켬"으로 설정
                            상세설명보기<br>
                            <a href="https://blog.naver.com/1004igofa/223085355895">https://blog.naver.com/1004igofa/223085355895</a>
                            <br>
                            <fieldset style="padding-top: 30px">
                                <input type="button" id="ok0" name="radio0" value="확인">
                                <input type="button" id="no0" name="radio0" value="미확인">
                            </fieldset>
                        </div>
                    </div>
                    <div id="check1">
                        <strong>*중요공지사항*</strong>
                        <br></br>
                        <div style="padding-bottom: 30px">
                            5.1절 노동절 금융노조 출석체크를 위하여 본인의 
                            위치정보 및 개인정보를 수집하고 있습니다.
                            <br><strong>위치정보 및 개인정보 수집에 
                            비동의 및 집회장소외 다른위치에서 
                            출석체크할 경우 출석 <b style="color:blue"><br><불인정></b> 됨을 알려드립니다.</strong>
                        </div>
                        <div class="sto">
                            * 수집된 정보는 5.1절 출석체크 <br> 용도로만 사용합니다.
                            <br>위치정보 및 개인정보 제공
                        </div>
                        <fieldset>
                            <input type="button" id="ok1" name="radio1" value="동의">
                            <input type="button" id="no1" name="radio1" value="미동의">
                        </fieldset>
                    </div>
                    <div id="check2">
                        <div style="padding-bottom: 20px">
                            <strong style="padding-bottom: 20px">* 공지사항 *</strong>
                            <ul>
                                <li>
                                    체크는 5.1절 해당일 <strong> <b style="color:blue"><br><반드시 2번></b></strong> <br> 하셔야 하며,
                                    날짜 및 시간제한이 있습니다. 
                                    <ol>
                                        <li>5월1일 <strong>12:30 ~ 14:30 : 집회참석</strong></li>
                                        <li>5월1일 <strong>15:20 ~ 16:20 : 집회마감</strong></li>
                                    </ol>
                                </ul>
                                <li>
                                    핸드폰1대당 1번씩만 등록가능
                                </li>
                                <li>
                                    핸드폰1대로 여러 사람 등록불가
                                </li>
                                <li>
                                    <strong>2번 체크(참석/마감)하지 않을 경우 출석은 <b style="color:blue"><br><불인정></b> 됩니다.</strong>
                                </li>
                            </ul>
                        </div>
                        <div class="sto">
                            *공지사항을 모두 확인하였습니까?
                        </div>
                        <fieldset>
                            <input type="button" id="ok2" name="radio2" value="확인">
                            <input type="button" id="no2" name="radio2" value="미확인">
                        </fieldset>
                    </div>
                    
                    <div id="check3">
                        <strong>
                            출석체크를 위한 개인정보
                        </strong>
                        <form class="form1">
                            <div class="fieldo">
                                <div id="bottom15">
                                    <select name="team" id="team">
                                        <option name="teams" value="0" selected>소속</option>
                                        <option name="teams" value="신한은행지부">신한은행지부</option>
                                        <option name="teams" value="우리은행지부">우리은행지부</option>
                                        <option name="teams" value="SC제일은행지부">SC제일은행지부</option>
                                        <option name="teams" value="KEB하나은행지부">KEB하나은행지부</option>
                                        <option name="teams" value="KB국민은행지부">KB국민은행지부</option>
                                        <option name="teams" value="한국산업은행지부">한국산업은행지부</option>
                                        <option name="teams" value="기업은행지부">기업은행지부</option>
                                        <option name="teams" value="한국수출입은행지부">한국수출입은행지부</option>
                                        <option name="teams" value="한국씨티은행지부">한국씨티은행지부</option>
                                        <option name="teams" value="대구은행지부">대구은행지부</option>
                                        <option name="teams" value="부산은행지부">부산은행지부</option>
                                        <option name="teams" value="경남은행지부">경남은행지부</option>
                                        <option name="teams" value="광주은행지부">광주은행지부</option>
                                        <option name="teams" value="전북은행지부">전북은행지부</option>
                                        <option name="teams" value="제주은행지부">제주은행지부</option>
                                        <option name="teams" value="NH농협지부">NH농협지부</option>
                                        <option name="teams" value="수협중앙회지부">수협중앙회지부</option>
                                        <option name="teams" value="신용보증기금지부">신용보증기금지부</option>
                                        <option name="teams" value="기술보증기금지부">기술보증기금지부</option>
                                        <option name="teams" value="한국부동산원지부">한국부동산원지부</option>
                                        <option name="teams" value="한국자산관리공사지부">한국자산관리공사지부</option>
                                        <option name="teams" value="금융결제원지부">금융결제원지부</option>
                                        <option name="teams" value="전국은행연합회지부">전국은행연합회지부</option>
                                        <option name="teams" value="한국금융연수원지부">한국금융연수원지부</option>
                                        <option name="teams" value="신협중앙회지부">신협중앙회지부</option>
                                        <option name="teams" value="한국자금중개지부">한국자금중개지부</option>
                                        <option name="teams" value="서울외국환중개지부">서울외국환중개지부</option>
                                        <option name="teams" value="우리에프아이에스지부">우리에프아이에스지부</option>
                                        <option name="teams" value="한국금융안전지부">한국금융안전지부</option>
                                        <option name="teams" value="산림조합중앙회지부">산림조합중앙회지부</option>
                                        <option name="teams" value="주택도시보증공사지부">주택도시보증공사지부</option>
                                        <option name="teams" value="한국평가데이터지부">한국평가데이터지부</option>
                                        <option name="teams" value="우리카드지부">우리카드지부</option>
                                        <option name="teams" value="우리신용정보지부">우리신용정보지부</option>
                                        <option name="teams" value="한국주택금융공사지부">한국주택금융공사지부</option>
                                        <option name="teams" value="코스콤(한국증권전산)지부">코스콤(한국증권전산)지부</option>
                                        <option name="teams" value="JB우리캐피탈지부">JB우리캐피탈지부</option>
                                        <option name="teams" value="KB데이타시스템지부">KB데이타시스템지부</option>
                                        <option name="teams" value="IBK시스템지부">IBK시스템지부</option>
                                    </select>
                                </div>
                                <div class="field half" id="bottom15">
                                    <input type="name" name="name" id="employee_name" placeholder="본인 또는 가족성명" />
                                </div>
                                <div class="field half" id="bottom15">
                                    <input type="employeenum" name="employee_num" id="employee_num" placeholder="직원(사원) 번호" />
                                </div>
                                <div class="field half" id="bottom15">
                                    <input type="tel" name="tel" id="tel" placeholder="본인 또는 가족 핸드폰번호" />
                                </div>
                                <div id="bank">
                                    <strong><해당지부 참가비는 실비지급 합니다.></strong>
                                    <div class="field half" id="bottom15">
                                        <input type="name" name="bank_name" id="bank_name" placeholder="은행명" />
                                    </div>
                                    <div class="field half" id="bottom15">
                                        <input type="tel" name="bank_number" id="bank_number" placeholder="계좌번호" />
                                    </div>
                                    <div class="field half" id="bottom15">
                                        <input type="name" name="bank_admin" id="bank_admin" placeholder="예금주" />
                                    </div>
                                </div>
                                <fieldset style="padding-bottom: 10px;">
                                    <input type="button" id="me" name="relations" value="본인">
                                    <input type="button" id="family" name="relations" value="가족">
                                </fieldset>
                            </div>
                            <ul class="actions">
                                <li><input type="button" value="참가 완료" id="submit_button" /></li>
                            </ul>
                        </form>
                    </div>  
                    </div>
                </section>
			</div>

		<!-- Scripts -->
            <script type="module" src="jquery.min.js"></script>
            <script type="module" src="jquery.scrolly.min.js"></script>
            <script type="module" src="util.js"></script>
            <script type="module" src="main.js"></script>

	</body>
</html>