<html lang="ko"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=no">
  <meta name="HandheldFriendly" content="true">
  <meta name="format-detection" content="telephone=no">
  <title>Bb 장기렌트카</title>
  <link rel="stylesheet" href="cha.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  <body>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <div id="wrap">
    <div class="hd">
      <div class="area">
        <div class="sop">
          <div class="logo">
            <a href="/"><img src="../../imgs/logo.png"></a>
          </div>
          <nav class="navi">
            <ul>
              <li>
                <a href="https://naver.me/x8iBKW9x">광고/제휴문의 <br> 영업사원 모집</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div><!-- END hd -->
    
    <div class="visual" id="visu">
      <div class="area" id="area2">
        <div class="title">
          <img class="main_img" src="../../imgs/1.png">
        </div>
        </form>
      </div>
    </div>
    <div class="visual" style="background: #0072ff !important; padding: 60px 20px 60px;">
      <div class="area">
        <div class="box" id="fi_box">
          <div class="sop">
            <ul>
              <li><p>성함</p></li>
              <li><input type="text" id="wr_name1" name="wr_name1" class="ipfull" placeholder="이름을 입력하세요"></li>
              <li><p>연락처</p></li>
              <li><input type="tel" id="wr_phon1" name="wr_phon1" class="ipfull"  maxlength="13" placeholder="'-'를 제외하고 010포함 숫자만 입력하세요." pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}"> <!-- oninput="oninputPhone(this)" -->
                <span class="valid" th:text="${valid_tel}"> <br> </span></li>
            </ul>
          </div>
          <div class="sop">
            <ul>
              <li><p>차종</p></li>
              <li><input type="text" id="wr_car1" name="wr_car1" class="ipfull" placeholder="차종을 입력하세요"></li>
              <li><p>선택</p></li>
              <li>
                <dl>
                  <dt><input type="radio" id="wr_select1" name="wr_select1" value="렌트" checked=""> <span>렌트</span></dt>
                  <dt><input type="radio" id="wr_select1" name="wr_select1" value="리스"> <span>리스</span></dt>
                  <dt><input type="radio" id="wr_select1" name="wr_select1" value="현금 할부"> <span>현금 할부</span></dt>
                </dl>
              </li>
            </ul>
          </div>
          <div class="agrees">
            <input type="checkbox" id="agree1" name="agree1" checked=""> <span>개인정보 수집·이용 및 취급·위탁에 대한 동의</span><br class="mrs">
            <input type="checkbox" id="agree2" name="agree2" checked=""> <span>마케팅 정보 수신에 대한 동의</span>
          </div>
          <div class="btns" style="font-size: 18px;">
            <button class="w-btn w-btn-blue" id="alertStart" style=" background-color: #0072ff;">최저가 문의하기</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  
  
    <div class="roll bg1" style="background: black;">
      <div class="area">	
        <div class="step1">
          <h1>실시간 견적요청</h1>
          <!--<h1>현재 <span>2,503</span>명 신청중</h1>-->
          <p>직접 이용하신 고객님들의 실시간 접수현황입니다.</p>
        </div>
        <div class="step2">
          <div class="page" style="border-radius: 10px;  border-style: outset;">    
          <ul class="ticker_01" id="tick"></ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="mct_01" style="justify-content: center; align-content: center; display: flex;">
        <div style="float: left;">
          <div class="imgs" style="float: left; margin-bottom: 30px;">
            <img src="../../imgs/3.png">
          </div>
          <div>
            <div class="imgs" style="float: right; margin-bottom: 15px">
              <img class="one" src="../../imgs/5.png" style="margin-left: 20px;">
            </div>
            <div class="imgs" style="float: left;">
              <img src="../../imgs/4.png">
            </div>
          </div>
        </div>
    </div>
  
    <div class="mct_02" style="background: #0078f0 !important">
      <div class="title">
        <img src="../../imgs/6.png">
      </div>
      <div class="box">
        <ul>
          <li><img src="../../imgs/7.png"></li>
          <li><img src="../../imgs/8.png"></li>
          <li><img src="../../imgs/9.png"></li>
        </ul>
      </div>
    </div>
  
    <div class="mct_03">
      <div class="title">
        <img src="../../imgs/10.png">
      </div>
      <div class="box">
        <img src="../../imgs/11.png">
      </div>
    </div>
  
  
    <div class="mct_04">
      <div class="title">
        <img src="../../imgs/12.png">
      </div>
      <div class="box">
        <ul>
          <li><img src="../../imgs/13.png"></li>
          <li><img src="../../imgs/14.png"></li>
          <li><img src="../../imgs/15.png"></li>
          <li><img src="../../imgs/16.png"></li>
        </ul>
      </div>
    </div>

    <div class="mct_04" style="background-color: #0078f0 !important;">
      <div class="title">
        <img src="../../imgs/17.png">
      </div>
      <div class="box">
        <div class="three">
          <ul>
            <li><img src="../../imgs/18.png" style="width: 80%;"></li>
            <li><img src="../../imgs/19.png" style="width: 80%;"></li>
            <li><img src="../../imgs/20.png" style="width: 80%;"></li>
            <li><img src="../../imgs/21.png" style="width: 80%;"></li>
            <li><img class="four" src="../../imgs/22-1.png" style="padding-top: 90px;"></li>
            <li class="two"><img src="../../imgs/22.png" style="width: 80%;"></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="visual vo" style="background: white !important; ">
      <div class="area">
        <div style="display: flex;">
          <div class="titles" style="padding-top: 3%; padding-right: 50">
            <img src="../../imgs/23.png">
          </div>
          <div class="title">
            <img src="../../imgs/24.png">
          </div>
        </div>
        </form>
      </div>
    </div>
        <div class="mct_05">
          <div class="area">
          <div class="title">
            <img src="../../imgs/25.png">
          </div>
          <div class="sop">
            <ul>
              <li><p>성함</p></li>
              <li><input type="text" id="wr_name2" name="wr_name2" class="ipfull" placeholder="이름을 입력하세요" style="border-radius: 10px;"></li>
              <li><p>연락처</p></li>
              <li><input type="tel" id="wr_phon2" name="wr_phon2" class="ipfull" maxlength="13" placeholder="'-'를 제외하고 010포함 숫자만 입력하세요." pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}" style="border-radius: 10px;"></li> <!-- oninput="oninputPhone(this)" -->
            </ul>
          </div>
          <div class="sop">
            <ul>
              <li><p>차종</p></li>
              <li><input type="text" id="wr_car2" name="wr_car2" class="ipfull" placeholder="차종을 입력하세요" style="
      border-radius: 10px;
  "></li>
              <li><p>선택</p></li>
              <li>
                <dl>
                  <dt><input type="radio" id="wr_select2" name="wr_select2" value="렌트" checked=""> <span>렌트</span></dt>
                  <dt><input type="radio" id="wr_select2" name="wr_select2" value="리스"> <span>리스</span></dt>
                  <dt><input type="radio" id="wr_select2" name="wr_select2" value="현금 할부"> <span>현금 할부</span></dt>
                </dl>
              </li>
            </ul>
          </div>
          <div class="agrees">
            <input type="checkbox" id="agree3" name="agree3" checked=""> <span>개인정보 수집·이용 및 취급·위탁에 대한 동의</span><br class="mrs">
            <input type="checkbox" id="agree4" name="agree4" checked=""> <span>마케팅 정보 수신에 대한 동의</span>
          </div>
          <div class="btns" style="font-size: 18px;">
            <button class="w-btn w-btn-blue" id="alertStart2" style=" background-color: #0072ff;">최저가 문의하기</button>
          </div>
        </div>
        </div>
      </div>
    <div class="ft">
      <div class="area">
        
        <div class="type2">
          <div class="logo">
            <img src="../../imgs/logo.png" style="width: 20%;">
          </div>
          <div class="txt">
            <p>사업자명 : 디빙 | 엔에스엠(NSM) 대표이사 : 민경재</p>
            <p>이메일 : khmkj1015@naver.com | 사업자등록번호 : 417-16-97188</p>
            <p>소재지 :  서울특별시 영등포구 경인로 775, 1동 215호 에이스하이테크시티</p><br>
            <p>COPYRIGHT (C) 디빙. All Rights reserved</p>
          </div>
  
        </div>
      </div>
    </div>


    
  <script> 
  /* ! 연락처 자동 "-"입력 코드 */
  $('#wr_phon1').keyup(function (event) {
  event = event || window.event;
  var _val = this.value.trim();
  this.value = autoHypenTel(_val);
});

$('#wr_phon2').keyup(function (event) {
  event = event || window.event;
  var _val = this.value.trim();
  this.value = autoHypenTel(_val);
});

  function autoHypenTel(str) {
  str = str.replace(/[^0-9]/g, '');
  var tmp = '';

  if (str.substring(0, 2) == 02) {
    // 서울 전화번호일 경우 10자리까지만 나타나고 그 이상의 자리수는 자동삭제
    if (str.length < 3) {
      return str;
    } else if (str.length < 6) {
      tmp += str.substr(0, 2);
      tmp += '-';
      tmp += str.substr(2);
      return tmp;
    } else if (str.length < 10) {
      tmp += str.substr(0, 2);
      tmp += '-';
      tmp += str.substr(2, 3);
      tmp += '-';
      tmp += str.substr(5);
      return tmp;
    } else {
      tmp += str.substr(0, 2);
      tmp += '-';
      tmp += str.substr(2, 4);
      tmp += '-';
      tmp += str.substr(6, 4);
      return tmp;
    }
  } else {
    // 핸드폰 및 다른 지역 전화번호 일 경우
    if (str.length < 4) {
      return str;
    } else if (str.length < 7) {
      tmp += str.substr(0, 3);
      tmp += '-';
      tmp += str.substr(3);
      return tmp;
    } else if (str.length < 11) {
      tmp += str.substr(0, 3);
      tmp += '-';
      tmp += str.substr(3, 3);
      tmp += '-';
      tmp += str.substr(6);
      return tmp;
    } else {
      tmp += str.substr(0, 3);
      tmp += '-';
      tmp += str.substr(3, 4);
      tmp += '-';
      tmp += str.substr(7);
      return tmp;
    }
  }

  return str;
}

    // function oninputPhone(target) {
    //     target.value = target.value
    //         .replace(/[^0-9]/g, '')
    //         .replace(/(^02.{0}|^01.{1}|[0-9]{3,4})([0-9]{3,4})([0-9]{4})/g, "$1-$2-$3");
    // }
  </script>
    <script type="module" src="cha.js"></script>
   <!-- END wrap -->

  <!-- ie6,7에서 사이드뷰가 게시판 목록에서 아래 사이드뷰에 가려지는 현상 수정 -->
  <!--[if lte IE 7]>
  <script>
  $(function() {
      var $sv_use = $(".sv_use");
      var count = $sv_use.length;
  
      $sv_use.each(function() {
          $(this).css("z-index", count);
          $(this).css("position", "relative");
          count = count - 1;
      });
  });
  </script>
  <![endif]-->

  </body>
  </html>