/* Google Web Font */
@font-face{
  font-family: 'SuseongDotum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/SuseongDotum.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body{
    font-family: 'SuseongDotum', sans-serif;
    margin: 0;
    font-size: 15px;
    line-height: 1.6em;
    height: 100vh;
}
.logo{
  margin-bottom: 20px;
}
.menu{
  margin-bottom: 40px; background: #34383c; min-width: 1900px; width: 100%;
  height: 40px;
}
.menu h1{
  font-size: 16px; font-family:"Gothic"; float: left; width: 230px;
  text-align: center; margin: 0; line-height: 40px;
}
.menu h1 a{
  color: #fff; text-decoration: none;
}
.menu h1 span{
  color: #3CF;
}
.menu nav ul{
  list-style: none; margin: 0; float: left; width: 1540px; padding: 0;
}
.menu nav ul:after{
  display: block; content: ''; visibility: hidden; clear: both;
}
.menu nav ul li{
  float: left; color: #fff; border-left: 1px solid #55595c; text-align: center;
  width: 100px; line-height: 40px;
}
.menu nav ul li:last-child{
  border-right: 1px solid #55595c;
}
.menu > span{
  color: #fff; line-height: 40px;
}
thead{
  border-top: 2px solid #333;
}
th:not(:first-child){border-left: 1px solid #fff;}
td:not(:first-child){border-left: 1px solid #c8c8c8;}
td,th{text-align: center; height: 65px;}
th{ width: 10%; background: #c8c8c8c8; color: #000; font-weight: normal;}
td{ width: 10%;}
tr:nth-child(2n){background-color: #f8f8f8;}
table{
    border-collapse: separate;
    border-spacing: 0px;
}
td:nth-child(1){ width: 5%;}
th:nth-child(1){ width: 5%;}
td:nth-child(2){ width: 18%;}
th:nth-child(2){ width: 18%;}
th:nth-child(3),
td:nth-child(3){
  padding: 0 2%; width: 700px;
}
td:nth-child(3) a{
  width: 560px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
th:nth-child(3) a{
  width: 560px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
td:nth-child(6){width:10%}
th:nth-child(6){width:10%}

form{
	width: 500px;
}
table{
  border: 1px solid #c8c8c8;
	border-collapse:collapse;
	margin-bottom: 50px;
}

.off-screen{
	display: none;
}
#nav{
	text-align: center;
}
#nav a{
	display: inline-block; margin-bottom: 50px;
  width: 25px; 
  padding: 5px;
	margin-right: 10px;
	font-family:Tahoma;
	color: #000;
	text-decoration: none;
}
#nav a:hover{
	background: #f2f2f2; box-shadow: 0 4px 6px -1px rgba(0, 0, 0);
  border-radius: 30px;
}
#nav a.active{
	background: #f2f2f2;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0);
  border-radius: 30px;
	color: #333;
}

button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  background: var(--button-bg-color);
  color: var(--button-color);
  
  margin: 0;
  
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  
  border: none;
  border-radius: 4px;
  
  display: inline-block;

  cursor: pointer;
  
  transition: 0.5s;
}

button{
  --button-hover-bg-color: #218838;
}

